#cssmenu ul ul {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

        #cssmenu ul ul a {
            line-height: 33px;
        }

        #cssmenu ul ul ul {
            left: 100%;
            top: 0;
        }

    #divResult {
        position: absolute;
        width: 335px;
        display: none;
        margin-top: -1px;
        border: solid 1px #dedede;
        border-top: 0px;
        overflow: hidden;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        -moz-border-bottom-right-radius: 6px;
        -moz-border-bottom-left-radius: 6px;
        box-shadow: 0px 0px 5px #999;
        border-width: 3px 1px 1px;
        border-style: solid;
        border-color: #333 #DEDEDE #DEDEDE;
        background-color: white;
        z-index:9999;
    }

    .display_box {
        padding: 4px;
        border-top: solid 1px #dedede;
        font-size: 12px;       
        z-index:9999;
        float:left;
        width:325px;
        
    }

        .display_box:hover {
            background: #007400;
            color: #FFFFFF;
            cursor: pointer;
        }




    #cssmenu li ul {
        background: white;
        border-left: 4px solid #007e00;
        border-right: 4px solid #007e00;
        border-bottom: 4px solid #007e00;
        display: none;
        height: auto;
        filter: alpha(opacity=95);
        opacity: 0.95;
        position: absolute;
        width: 152px;
        z-index: 200;
        /*top:1em;
		/*left:0;*/
    }

    #cssmenu li:hover > ul {
        display: block;
    }

    #cssmenu li li {
        display: block;
        float: none;
        padding: 0px;
        position: relative;
        width: 152px;
        background: none;
    }

    #cssmenu li ul a {
        display: block;
        font-size: 12px;
        font-style: normal;
        /*padding: 0px 10px 0px 15px;*/
        text-align: center;
    }

        #cssmenu li ul a:hover {
            opacity: 1.0;
            filter: alpha(opacity=100);
        }

    #cssmenu p {
        clear: left;
    }

    #cssmenu .active > a {
        background: #a80329;
        -webkit-box-shadow: 0 -4px 0 #a80329, 0 -5px 0 #b81c40, 0 -6px 0 #a80329;
        -moz-box-shadow: 0 -4px 0 #a80329, 0 -5px 0 #b81c40, 0 -6px 0 #a80329;
        box-shadow: 0 -4px 0 #a80329, 0 -5px 0 #b81c40, 0 -6px 0 #a80329;
        color: #ffffff;
    }

        #cssmenu .active > a:hover {
            color: white;
        }