
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #666666;
    font-family: 'Noto Sans',sans-serif;
    font-size: 12px;
}
html.xsmall body {
    font-size: 12px;
}
a {
    color: #333333;
    cursor: pointer;
    text-decoration: underline;
}
.click {
    cursor: pointer;
}
img {
    border: 0 none;
    margin: 0;
    padding: 0;
}
form {
    display: inline;
    margin: 0;
    padding: 0;
}
.hide {
    display: none;
}
html.xsmall .xsmall-hide {
    display: none !important;
}
html.small .small-hide {
    display: none !important;
}
html.large .large-hide {
    display: none !important;
}
.xsmall-show {
    display: none !important;
}
.small-show {
    display: none !important;
}
.large-show {
    display: none !important;
}
html.xsmall .xsmall-show {
    display: block !important;
}
html.small .small-show {
    display: block !important;
}
html.large .large-show {
    display: block !important;
}
.large-100 {
    width: 100% !important;
}
.large-75 {
    width: 75% !important;
}
.large-66 {
    width: 67% !important;
}
.large-50 {
    width: 50% !important;
}
.large-33 {
    width: 33% !important;
}
.large-33 + .large-33 {
    width: 34% !important;
}
.large-33 + .large-33 + .large-33 {
    width: 33% !important;
}
.large-25 {
    width: 25% !important;
}
html.small .small-100 {
    width: 100% !important;
}
html.small .small-50 {
    width: 50% !important;
}
.related {
    margin-top: 2px !important;
}
.unrelated {
    margin-top: 20px !important;
}
.thin {
    padding-left: 0;
    padding-right: 0;
}
.short {
    padding-bottom: 0;
    padding-top: 0;
}
.center {
    display: inline-block !important;
    float: none !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.left {
    float: left !important;
    margin-left: 0 !important;
    margin-right: 10px !important;
}
.right {
    float: right !important;
    margin-left: 10px !important;
    margin-right: 0 !important;
}
.clear-small:before {
    content: "";
    display: block;
    height: 0;
    width: 100%;
}
.align-center {
    text-align: center !important;
}
.image-vignette {
    float: right;
    margin: 10px 0 0 10px;
    max-width: 50%;
    padding: 0 0 0 10px;
}
.image-addthis {
    float: right;
    margin: 10px 0 0;
}
h1 {
    color: #6699FF;
    font-size: 20px;
    font-weight: normal;
    margin: 10px 0 0;
}
h1.small {
    color: #333333;
    font-size: 16px !important;
}
h1.down {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -10px;
}
html.large h1.down {
    margin-bottom: -33px;
    text-align: center;
}
h2 {
    color: #333333;
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0 0;
}
h2 a {
    text-decoration: none;
}
h3 {
    color: #333333;
    font-size: 12px;
    margin: 10px 0 0;
}
p {
    margin: 10px 0 0;
}
p.large {
    font-size: 16px;
    font-weight: bold;
}
p.xlarge {
    font-size: 20px;
    font-weight: bold;
}
ol {
    margin: 10px 0 0;
    padding: 0;
}
ol li {
    list-style-type: decimal;
    margin: 5px 0 0 25px;
}
ul {
    margin: 10px 0 0;
    padding: 0;
}
ul li {
    list-style-type: square;
    margin: 5px 0 0 20px;
    padding: 0;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: center;
}
.text-right {
    text-align: center;
}
.text-more {
    display: inline-block;
}
.text-calendar {
    background: url("../asset/text-calendar.png") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: #000000;
    display: block;
    font-size: 12px !important;
    margin: 10px 0 0;
    min-height: 45px;
    padding: 8px 0 0 50px;
    position: relative;
    text-decoration: none;
    width: 100%;
}
.text-calendar .text-month {
    color: #FFFFFF;
    display: block;
    font-size: 11px !important;
    font-weight: bold;
    left: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 8px;
    width: 40px;
}
.text-calendar .text-day {
    color: #000000;
    display: block;
    font-size: 14px;
    font-weight: bold;
    left: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 23px;
    width: 40px;
}
.text-handout {
    background: url("../asset/text-handout.png") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
    box-sizing: border-box;
    display: block;
    line-height: 20px;
    min-height: 20px;
    min-width: 20px;
    padding: 0 0 0 25px;
}
ul.menu, dl.menu {
    margin: 0;
    padding: 0;
    position: relative;
}
ul.menu li, dl.menu dt, dl.menu dd {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}
ul.menu-slidedown {
    margin: 10px 0 0;
}
ul.menu-slidedown li {
    box-sizing: border-box;
    display: block;
    width: 100%;
}
ul.menu-slidedown a {
    border-radius: 5px;
    box-sizing: border-box;
    color: #000000;
    display: block;
    overflow: hidden;
    width: 100%;
}
ul.menu-slidedown a.text-slidedown {
    font-weight: bold;
    text-decoration: none;
}
ul.menu-slidedown a.text-slidedown .text-title {
    float: left;
    font-weight: bold;
}
ul.menu-slidedown a.text-link .text-title {
    float: left;
    font-weight: normal;
    text-decoration: underline;
}
ul.menu-slidedown .text-date {
    float: right;
    font-weight: normal;
    padding: 0 0 0 10px;
}
ul.menu-slidedown > li {
    display: block;
    margin: 10px 0 0;
}
ul.menu-slidedown > li > a.text {
    background-color: #E6E6E6;
    box-shadow: 0 0 0 2px #E6E6E6 inset, 0 15px 15px -15px #FFFFFF inset;
    font-size: 16px;
    line-height: 30px;
    padding: 10px;
    width: 100%;
}
ul.menu-slidedown > li > a.text-slidedown {
    background-image: url("../asset/text-slidedown.png");
    background-position: 100% 10px;
    background-repeat: no-repeat;
    padding-right: 50px;
}
ul.menu-slidedown > li > a.text-slidedown .text-date {
    font-size: 12px;
}
ul.menu-slidedown > li > a.text:hover:not(.active) {
    background-color: #CCCCCC;
    box-shadow: 0 0 0 2px #CCCCCC inset, 0 15px 15px -15px #FFFFFF inset;
}
ul.menu-slidedown > li > a.text.active {
    background-color: #B3CCFF;
    box-shadow: 0 0 0 2px #B3CCFF inset, 0 15px 15px -15px #FFFFFF inset;
}
ul.menu-slidedown > li > a.text.active:hover {
    background-position: 100% -190px;
}
ul.menu-slidedown > li > a.text.inactive {
    opacity: 0.5;
}
ul.menu-slidedown ul {
    display: none;
    margin: 0;
}
ul.menu-slidedown > li > ul {
    background: none repeat scroll 0 0 rgba(179, 204, 255, 0.5);
    border-radius: 5px;
}
ul.menu-slidedown a.active + ul {
    display: block;
}
ul.menu-slidedown > li > ul > li {
    border-top: 2px solid #FFFFFF;
}
ul.menu-slidedown ul li a.text {
    padding: 10px;
}
ul.menu-slidedown ul li a.text:hover {
    background: none repeat scroll 0 0 rgba(179, 204, 255, 0.25);
}
ul.menu-slidedown ul ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}
html.xsmall ul.menu-slidedown {
    margin: 10px -10px 0;
}
dl.menu-question dt {
    color: #333333;
    display: block;
    font-weight: bold;
    margin: 10px 0 0;
    width: 100%;
}
dl.menu-question dd {
    display: block;
    margin: 0;
    width: 100%;
}
ul.menu-aside {
    border-top: 1px solid #E6E6E6;
    margin: 10px 0 0;
    overflow: hidden;
}
ul.menu-aside li {
    border-bottom: 1px solid #E6E6E6;
    display: block;
    width: 100%;
}
ul.menu-aside a {
    display: block;
    padding: 5px 0;
    width: 100%;
}
ul.menu-aside a.active {
    color: #6699FF;
    font-weight: bold;
    text-decoration: none;
}
ul.menu-aside a.active:before {
    content: "> ";
}
ul.menu-step {
    counter-reset: countermenu;
    font-size: 0;
    letter-spacing: 0;
    margin: 10px 0 -11px;
    text-align: center;
    width: 100%;
    z-index: 1;
}
ul.menu-step li {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #CCCCCC;
    counter-increment: countermenu;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: normal;
    max-width: 140px;
    padding: 10px 0;
    width: 25%;
}
html.xsmall ul.menu-step li {
    font-size: 11px;
    font-weight: normal;
}
ul.menu-step li:not(.active):before {
    background: none repeat scroll 0 0 #CCCCCC;
    border-radius: 25px;
    box-shadow: 0 0 0 2px #CCCCCC inset, 0 15px 15px -15px #FFFFFF inset;
    color: #FFFFFF;
    content: counter(countermenu, decimal);
    display: block;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto 5px;
    width: 50px;
}
ul.menu-step li.active {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: -1px 0 0 0 #E6E6E6 inset, 1px 0 0 0 #E6E6E6 inset, 0 1px 0 0 #E6E6E6 inset;
    color: #6699FF;
}
ul.menu-step li.active:before {
    background: none repeat scroll 0 0 #6699FF;
    border-radius: 25px;
    box-shadow: 0 0 0 2px #6699FF inset, 0 15px 15px -15px #FFFFFF inset;
    color: #FFFFFF;
    content: counter(countermenu, decimal);
    display: block;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto 5px;
    width: 50px;
}
.cell {
    display: block;
    overflow: hidden;
    position: relative;
}
.row {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.row-breadcrumb h1 {
    color: #333333;
    float: left;
    font-size: 14px !important;
    line-height: normal !important;
}
.row-breadcrumb a.breadcrumb {
    border-right: 1px solid #E6E6E6;
    color: #999999;
    float: left;
    font-weight: normal;
    margin: 10px 10px 0 0;
    padding: 0 10px 0 0;
}
.row-breadcrumb .field-text {
    float: right !important;
    margin: 0 0 0 10px !important;
}
html.xsmall .row-breadcrumb h1 {
    clear: left;
}
html.xsmall .row-breadcrumb a.breadcrumb {
    border-right: medium none;
}
.row-line {
    border-top: 1px solid #E6E6E6;
    margin: 10px 0 0;
}
.row-xline {
    border-top: 2px solid #333333;
    margin: 20px 0 0;
    padding-top: 10px;
}
.row-key h1 {
    float: left;
    margin-right: 20px;
}
.row-key .menu-key {
    float: right;
    margin: 5px 0 0;
}
.row-key .menu-key li {
    float: left;
    margin: 10px 0 0 20px;
}
.row-key .menu-key li:first-child {
    margin-left: 0;
}
.row-key .menu-key .text {
    border-left: 20px solid #FFFFFF;
    float: left;
    font-size: 11px;
    line-height: 20px;
    padding: 0 0 0 5px;
}
.row-key .menu-key .text-morning {
    border-color: #B3E633;
}
.row-key .menu-key .text-afternoon {
    border-color: #B3CCFF;
}
html.small .menu-key .text {
    margin-top: 0;
}
html.xsmall .menu-key {
    float: left;
}
.row-submit {
    text-align: center;
}
.row-submit .button {
    display: block;
    margin: 10px auto 0;
}
.row-paginate {
    border-bottom: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
    margin: 10px 0 0;
    padding: 0 0 2px;
}
.row-paginate h2 {
    float: left;
    line-height: 30px;
    margin: 2px 0 0 !important;
}
.row-paginate .menu-paginate {
    float: right;
}
.row-paginate .menu-paginate li {
    float: left;
    margin: 0 0 0 2px;
}
.row-paginate .menu-paginate a.button {
    margin: 2px 0 0;
}
.row-summary {
    margin: 10px 0 0;
    padding: 5px 0;
}
.row-summary.related {
    margin-top: 2px;
}
.row-summary.title {
    background: none repeat scroll 0 0 #E6E6E6;
    font-weight: bold;
}
.row-summary.odd {
    background: none repeat scroll 0 0 #F3F3F3;
}
.row-summary .text {
    box-sizing: border-box;
    float: left;
    padding: 0 5px;
    width: 80%;
}
.row-summary .text-price {
    float: right !important;
    width: 20%;
}
html.large .row-summary .text-price {
    width: 10%;
}
html.large .row-summary .text-type {
    width: 10%;
}
html.large .row-summary .text-description {
    width: 50%;
}
html.large .row-summary .text-attendee {
    width: 30%;
}
.article {
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px 0 0;
    overflow: hidden;
    padding: 10px 20px 20px;
    position: relative;
    text-align: left;
    width: 100%;
}
html.small .article {
    padding: 0 10px 10px;
}
html.xsmall .article {
    border-radius: 0;
}
html.xsmall .article-none {
    box-shadow: none;
    box-sizing: content-box;
    margin-left: -10px;
    margin-right: -10px;
}
.article-info {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 0 1px #CCCCCC inset;
}
.article-info.strong {
    background: none repeat scroll 0 0 #F3F3F3;
}
html.xsmall .article-info {
    border-top: 1px solid #E6E6E6;
    box-shadow: none;
    box-sizing: content-box;
    margin-left: -10px;
    margin-right: -10px;
}
.article-text h2 {
    margin: 20px 0 0;
}
.article-text h2:first-child {
    margin-top: 10px;
}
.article-seminar {
    color: #000000;
    padding: 0 10px 10px;
}
.article-seminar a {
    color: #000000;
}
.article-seminar.morning {
    background: none repeat scroll 0 0 #B3E633;
    box-shadow: 0 0 0 2px #B3E633 inset, 0 15px 15px -15px #FFFFFF inset;
}
.article-seminar.afternoon {
    background: none repeat scroll 0 0 #B3CCFF;
    box-shadow: 0 0 0 2px #B3CCFF inset, 0 15px 15px -15px #FFFFFF inset;
}
.article-seminar .text {
    box-sizing: border-box;
    float: left;
    line-height: 20px;
    margin: 10px 0 0;
}
.article-seminar .text-info {
    float: left;
    min-height: 30px;
    padding: 5px 0 0;
}
.article-seminar .text-level {
    background: url("../asset/text-level.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    float: right;
    font-size: 9px;
    line-height: normal;
    margin: 0;
    padding: 22px 0 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    top: 10px;
    width: 80px;
}
.article-seminar .text-level1 {
    background-position: 50% -100px;
}
.article-seminar .text-level2 {
    background-position: 50% -200px;
}
.article-seminar .text-level3 {
    background-position: 50% -300px;
}
.article-seminar .text-price {
    font-weight: bold;
}
.article-seminar .cell-check {
    float: left !important;
    width: auto !important;
}
.article-seminar .cell-check label {
    margin-top: 0 !important;
}
.article-seminar .cell-check .field {
    margin-top: 7px !important;
}
html.large .article-seminar .text-info {
    width: 60%;
}
html.large .article-seminar .text-time {
    padding-top: 5px;
    width: 20%;
}
html.large .article-seminar .text-time.wide {
    width: 30%;
}
html.large .article-seminar .text-price {
    padding-top: 5px;
    width: 10%;
}
html.large .article-seminar a.text-price {
    text-align: right;
}
html.small .article-seminar .text-info {
    padding-right: 60px;
}
html.small .article-seminar .text-time {
    clear: left;
    padding-left: 0;
    padding-right: 10px;
}
html.xsmall .article-seminar {
    box-sizing: content-box;
    margin-left: -10px;
    margin-right: -10px;
}
html.xsmall .article-seminar .text-info {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    min-height: 0;
    padding: 0 60px 0 0;
}
.article-more {
    background: none repeat scroll 0 0 #B3CCFF;
    box-shadow: 0 0 0 2px #B3CCFF inset, 0 15px 15px -15px #FFFFFF inset;
    color: #000000;
    padding: 0 10px 10px;
}
html.xsmall .article-more {
    box-sizing: content-box;
    margin-left: -10px;
    margin-right: -10px;
}
.article-more a {
    color: #000000;
}
.article-more .text {
    box-sizing: border-box;
    float: left;
    margin: 10px 0 0;
}
.article-more .text-title {
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    min-height: 30px;
    padding: 5px 0 0;
    width: 100% !important;
}
.article-more .text-title .button {
    float: right;
    margin: -5px 0 0 10px;
}
.article-more .text-description {
    margin-top: 0;
}
.article-more.click:hover {
    background: none repeat scroll 0 0 #8CB3FF;
    box-shadow: 0 0 0 2px #8CB3FF inset, 0 15px 15px -15px #FFFFFF inset;
}
.article-handout {
    background: none repeat scroll 0 0 #B3CCFF;
    box-shadow: 0 0 0 2px #B3CCFF inset, 0 15px 15px -15px #FFFFFF inset;
    color: #000000;
    padding: 0 10px 10px;
}
html.xsmall .article-handout {
    box-sizing: content-box;
    margin-left: -10px;
    margin-right: -10px;
}
.article-handout a {
    color: #000000;
}
.article-handout .text {
    box-sizing: border-box;
    float: left;
    line-height: 20px;
    margin: 10px 0 0;
    overflow: hidden;
}
.article-handout .text-title {
    float: left;
    font-size: 14px;
    font-weight: bold;
    min-height: 30px;
    width: 55%;
}
.article-handout .text-title.weak {
    font-size: 12px;
    font-weight: normal;
}
.article-handout .text-option {
    float: right;
    margin-top: 0;
    width: 40%;
}
.article-handout .text-option .button {
    float: right;
    margin: 10px 0 0 10px;
}
.article-handout .text-option .cell-check {
    float: right;
    font-weight: bold;
}
.article-handout .text-option p {
    line-height: 20px;
    margin: 5px 0 0;
}
.article-handout .text-option p:first-child {
    margin-top: 10px;
}
.article-handout .text-option .text-handout {
    display: inline-block;
    float: none;
    margin: 0 0 0 5px;
    padding: 0;
    vertical-align: middle;
}
.article-handout .text-description {
    margin-top: 0;
    width: 100%;
}
html.large .article-handout .text-title {
    padding: 5px 0 0;
    width: 70%;
}
html.large .article-handout .text-option {
    width: 25%;
}
html.large .article-handout .text-description {
    width: 70%;
}
.col {
    box-sizing: border-box;
    float: left;
    overflow: hidden;
    padding: 0 10px 10px;
    width: 100%;
}
.col.right {
    margin: 0 !important;
}
html.small .col {
    padding-bottom: 0;
}
.section {
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 320px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
}
.section.narrow {
    max-width: 960px;
}
.content.page {
    box-shadow: 0 -160px 160px -160px #E6E6E6 inset;
    overflow: hidden;
    padding: 30px 0;
    position: relative;
    width: 100%;
}
.content-line {
    border-top: 1px solid #CCCCCC;
}
html.small .content.page {
    box-shadow: none;
    padding: 10px 0;
}
html.small .content.first {
    padding-top: 0;
}
html.small .content.first .col:first-child .article-info:first-child {
    border-top: 0 none !important;
}
.content-hero {
    background: url("../asset/content-illo.jpg") repeat-x scroll 0 0 #6699FF !important;
    box-shadow: 0 -160px 160px -160px rgba(255, 255, 255, 0.5) inset !important;
    padding: 10px 0 !important;
}
.content-hero .article-hero {
    background: none repeat scroll 0 0 rgba(102, 153, 255, 0.5);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5) inset;
    color: #FFFFFF;
}
.content-hero .article-hero h1 {
    color: #FFFFFF;
    font-weight: bold;
}
.content-hero .article-hero h2 {
    color: #FFFFFF;
}
.content-hero .article-hero a {
    color: #FFFFFF;
}
.content-hero .article-hero .article-register {
    padding-bottom: 60px !important;
}
.content-hero .article-hero .row-register {
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: 0;
    float: right;
    position: absolute;
    right: 0;
}
.content-hero .article-hero .cell-register {
    background: none repeat scroll 0 0 #FFFFFF;
    box-sizing: border-box;
    float: right;
    padding: 0 10px 10px;
}
.content-hero .article-hero .cell-register label {
    color: #6699FF;
    font-size: 16px;
    font-weight: bold;
}
.content-hero .article-hero .cell-register .field-text {
    float: left;
}
html.xsmall .content-hero .article-hero .cell-register .field-text {
    margin: 0;
    width: 100%;
}
.content-hero .article-hero .menu-hero li a:hover:not(.active) {
    color: #000000;
}
.content-hero .article-hero .menu-hero li a.active {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}
html.large .content-hero .article-hero .text-price {
    bottom: 0;
    color: #6699FF;
    float: left;
    left: 20px;
    line-height: 50px;
    position: absolute;
    z-index: 1;
}
html.large .content-hero .article-hero .text-time {
    padding-bottom: 50px;
}
html.large .content-hero .article-hero .menu-hero {
    margin: 0 0 -10px;
}
html.large .content-hero .article-hero .menu-hero li {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    display: block;
}
html.large .content-hero .article-hero .menu-hero li:first-child {
    border-top: medium none;
}
html.large .content-hero .article-hero .menu-hero li a {
    display: block;
    line-height: 30px;
}
html.small .content-hero {
    padding: 0 !important;
}
html.small .content-hero .col {
    padding: 0;
}
html.small .content-hero .article-hero {
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 0 10px;
}
html.small .content-hero .article-hero.article-register {
    padding-bottom: 60px !important;
}
html.small .content-hero .article-hero .text-time {
    float: left;
}
html.small .content-hero .article-hero .text-price {
    float: right;
    line-height: 40px;
}
html.small .content-hero .article-hero .menu-hero {
    background: none repeat scroll 0 0 #6699FF;
    margin: 0 -10px;
    overflow: hidden;
    padding: 5px 0 8px;
}
html.small .content-hero .article-hero .menu-hero li {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    float: left;
    margin: 5px 0 0;
}
html.small .content-hero .article-hero .menu-hero li:last-child {
    border-right: medium none;
}
html.small .content-hero .article-hero .menu-hero li a {
    float: left;
    line-height: 20px;
    padding: 0 10px;
}
html.small .content-hero .article-hero .cell-register {
    clear: both;
    float: none;
    width: 100%;
}
html.small .content-hero .article-hero .row-register {
    text-align: center;
}
html.xsmall .content-hero .article-hero.article-register {
    padding-bottom: 80px !important;
}
html.xsmall .content-hero .article-hero .cell-register label {
    margin-top: 0;
}
html.xsmall .content-hero .article-hero .text-price {
    line-height: 34px;
}
html.small .content-hero .article-hero.article-register.plain, html.xsmall .content-hero .article-hero.article-register.plain {
    padding-bottom: 10px !important;
}
.content-hero .article-hero.article-register.plain .text-price {
    color: #FFFFFF !important;
}
.content-illo {
    background: url("../asset/content-illo.jpg") repeat-x scroll 0 0 #6699FF !important;
    box-shadow: none !important;
    padding: 0 !important;
    text-align: center;
}
.content-illo .image-illo {
    display: block;
    margin: 0 auto;
}
html.small .content-illo .image-illo {
    display: block;
    position: relative;
    width: 100%;
}
.content-illo .section {
    z-index: 2;
}
html.large .content-illo .section {
    left: 50%;
    margin: 0 0 0 -480px;
    padding: 10px 0 0;
    position: absolute;
    top: 0;
}
.content-illo .article-illo {
    background: none repeat scroll 0 0 #B3E633;
    border-radius: 20px;
    box-shadow: 0 0 0 2px #FFFFFF inset;
}
.content-illo h1 {
    color: #FFFFFF !important;
    font-weight: bold;
}
.content-illo:after {
    bottom: 0;
    box-shadow: 0 -160px 160px -160px #FFFFFF inset !important;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}
html.small .content-illo .col {
    padding: 0;
}
html.small .content-illo .article-illo {
    border-radius: 0;
    border-top: 2px solid #FFFFFF;
    box-shadow: none;
    margin: 0;
    overflow: hidden;
    padding: 0 10px 10px;
}
.header.page {
    border-bottom: 5px solid #333333;
    overflow: visible;
    position: relative;
    width: 100%;
    z-index: 1;
}
.header.page .section.page {
    max-width: 960px;
    overflow: hidden;
    text-align: center;
}
.header.page .image.page.primary {
    float: left;
    margin: 10px 0 0;
}
html.small .header.page .image.page.primary {
    margin-left: 10px;
}
.header.page .text.page.primary {
    float: left;
    font-size: 11px;
    font-weight: normal;
    line-height: 20px;
    margin: 15px 0 0;
    text-transform: uppercase;
}
.header.page .text.page.primary a {
    color: #000000;
    text-decoration: none;
}
html.xsmall .header.page .image.page.primary {
    margin: 5px 10px 0;
}
#button-nav-primary {
    display: none;
    float: right;
    margin: 10px 10px 0 0;
}
html.small #button-nav-primary {
    display: block;
}
html.large .header.page .menu-nav {
    float: right;
    margin: 60px 0 0;
}
html.large .header.page .menu-nav li {
    float: left;
    margin: 0;
}
html.large .header.page .menu-nav a {
    border: 5px solid #FFFFFF;
    float: left;
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
    text-decoration: none;
}
html.large .header.page .menu-nav a:hover {
    border-bottom: 5px solid #6699FF;
}
html.large .header.page .menu-nav li a.active {
    border-bottom: 5px solid #333333 !important;
}
html.small .header.page .nav {
    border-top: 5px solid #000000;
    clear: both;
    display: block;
    overflow: hidden;
    padding: 0 0 10px;
    text-align: left;
}
html.small .header.page .menu-nav {
    display: block;
}
html.small .header.page .menu-nav li {
    border-bottom: 1px solid #E6E6E6;
    display: block;
    margin: 0;
}
html.small .header.page .menu-nav a {
    display: block;
    line-height: 30px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}
html.small .header.page .menu-nav li a.active {
    background: none repeat scroll 0 0 #F3F3F3;
}
.header.page .menu-social {
    float: right;
}
.header.page .menu-social li {
    float: left;
    margin: 0 0 0 10px;
}
.header.page .menu-social a {
    margin: 10px 0 0 !important;
}
html.large .header.page .menu-social {
    position: absolute;
    right: 10px;
    top: 0;
}
html.small .header.page .menu-social li {
    margin: 0 10px 0 0;
}
.footer.page {
    border-top: 1px solid #CCCCCC;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.footer.page .section.page {
    max-width: 960px;
    padding: 10px 10px 80px 0;
}
.footer.page p.text-copy {
    float: right;
    font-size: 10px;
    line-height: 20px;
    margin: 10px 0 0;
}
.footer.page .menu-nav {
    float: left;
}
.footer.page .menu-nav li {
    border-right: 1px solid #E6E6E6;
    float: left;
    margin: 10px 0 0;
}
.footer.page .menu-nav li:last-child {
    border-right: medium none;
}
.footer.page .menu-nav a {
    float: left;
    line-height: 20px;
    padding: 0 10px;
}
.footer.page .menu-nav a.active {
    text-decoration: none;
}
html.small .footer.page .section.page {
    padding-bottom: 40px;
}
.wrap.page {
    left: 0;
    min-height: 100%;
    min-width: 320px;
    position: absolute;
    top: 0;
    width: 100%;
}
